.search {
	width: auto;
	min-width: 1337px;
}

.searchItem {
	display: inline-block;
	width: auto;
	min-width: 731px;
	margin: auto;
}

.searchSelect {
	text-align: center;
	margin: 20px;
	height: 60px;
	width: 200px;
}

.searchTransition {
	display: inline-block;
	margin-left: 140px;
	min-width: 440px;
}

Input {
	text-align: center;
	margin: 20px;
	height: 60px;
	width: 200px;
}

button {
	text-align: center;
	margin: 10px;
	height: 60px;
	width: 200px;
}

.case {
	margin: 20px;
}

.buttonsize {
	height: 60px;
	width: 200px;
	text-align: center;
}

table {
	margin-left: auto;
	min-width: 1297px;
}

b {
	word-break: break-all;
}

.itemBackGround td {
	background-color: #DDDDDD;
}

.tableSelect {
	text-align: center;
	margin: 10px;
	height: 40px;
	width: 100px;
}

input {
	text-align: center;
	margin: 20px;
	height: 60px;
	width: 200px;
}

table {
	text-align: center;
	margin: 20px;
}

.imagePath {
	width: 10%;
}

.item {
	width: 13%;
}

.correctData {
	width: 20%;
}

.inspectionResults {
	width: 20%;
}

.macth {
	width: 10%;
}

.correctLength {
	width: 10%;
}

.correctAnswerLength {
	width: 10%;
}

.literacyRate {
	width: 7%;
}

#submit {
	text-align: right;
}