﻿form {
	min-width: 867px;
}

.button {
	text-align: center;
}

input {
	text-align: center;
	margin: 20px;
	height: 60px;
	width: 200px;
}

.buttonsize {
	height: 60px;
	width: 200px;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	min-width: 408px;
}

#submit {
	text-align: center;
}