﻿form {
	min-width: 867px;
}

.button {
	text-align: center;
}

.buttonsize {
	margin: 20px;
	height: 60px;
	width: 200px;
	text-align: center;
}

table {
	margin-right: auto;
	margin-left: auto;
	min-width: 429px;
}

.valid {
	color: red;
}

input {
	width: 300px;
}