﻿.recognitionResultText {
	font-size: 200%;
}

.text {
	margin-left: 120px;
}

.inline-block {
	display: inline-block;
	padding: 20px;
}

.valid {
	color: red;
}

.file {
	margin-left: 50px;
	margin-bottom: 40px;
}

.function {
	margin-left: 590px;
}

.inline {
	display: inline-block;
}

select {
	text-align: center;
	margin-left: 45px;
	margin-right: 45px;
	height: 60px;
	width: 200px;
}

.searchFixed {
	min-width: 955px;
}

#tableButton {
	text-align: center;
	margin-top: 45px;
	margin-bottom: 45px;
	width: 200px;
	height: 60px;
	margin-left: 20px;
}

table {
	margin-left: 20px;
	margin-right: 25px;
}

.tableFixed {
	min-width: 1092px;
}

.recognitionFixed {
	min-width: 1092px;
}

.grandtotal1 {
	text-align: center;
	width: 80px;
}

.grandtotal2 {
	text-align: center;
	width: 100px;
}

.grandtotal3 {
	text-align: center;
	width: 150px;
}

.grandtotal4 {
	text-align: center;
	width: 100px;
}

.grandtotal5 {
	text-align: center;
	width: 150px;
}

.grandtotal6 {
	text-align: center;
	width: 100px;
}

.grandtotal7 {
	text-align: center;
	width: 100px;
}

#grandtotaltop {
	margin-top: 90px;
}

#submit {
	text-align: center;
	margin-left: 140px;
}