#headerTitle {
	padding-left: 50px;
}

.header-padding {
	padding-top: 180px;
}

.headerTitle {
	display: block;
	padding-top: 20px;
	padding-left: 50px;
	float: left;
	min-width: 490px;
}

.headerLink {
	display: block;
	margin-top: 50px;
	float: right;
	min-width: 358px;
}

a {
	font-size: 140%;
}

#headerAggregateList {
	margin-left: auto;
}

#headerGrandTotal {
	margin: 10px;
}

#headerTop {
	margin-right: 50px;
}

.header {
	background-color: #e6e6fa;
	display: inline-block;
	flex-wrap: wrap;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 24;
	min-width: 965px;
}