form {
	min-width: 867px;
}

input {
	text-align: center;
	margin: 20px;
	height: 60px;
	width: 200px;
}

.case {
	margin: 20px;
}

table {
	margin-left: auto;
	min-width: 429px;
}

b {
	word-break: break-all;
}

.itemBackGround td {
	background-color: #DDDDDD;
}

select {
	text-align: center;
	margin: 20px;
	height: 60px;
	width: 200px;
}

.tableSelect {
	text-align: center;
	margin: 10px;
	height: 40px;
	width: 100px;
}

input {
	text-align: center;
	margin: 20px;
	height: 60px;
	width: 200px;
}

table {
	text-align: center;
	margin: 20px;
}

.wTable tr td:nth-child(1) {
	width: 10%;
}

.wTable tr td:nth-child(2) {
	width: 15%;
}

.wTable tr td:nth-child(3) {
	width: 20%;
}

#submit {
	text-align: right;
}