h1 {
	padding-top: 20px;
	padding-down: 40px;
	padding-right: 50px;
	padding-left: 50px;
}

.center {
	text-align: center;
}

.inline-block {
	display: inline-block;
	padding: 20px;
}

.inline-block-down {
	display: inline-block;
	padding: 20px;
}

#aggregateList {
	padding-top: 20px;
	padding-right: 140px;
	padding-left: 20px;
}

#inspectionResultList {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 140px;
}

.file {
	padding: 40px;
}

.register {
	height: 70px;
	width: 200px;
}

.change {
	height: 70px;
	width: 200px;
}

.inspectionResultList {
	height: 70px;
	width: 200px;
}

.aggregateList {
	height: 70px;
	width: 200px;
}

.upload {
	height: 70px;
	width: 200px;
}

.valid {
	color: red;
}