﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>集計一覧</title>
<link rel="stylesheet" th:href="@{/css/AggregateList.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
</head>
<body>
	<div id="header" th:replace="~{html/header :: header('集計一覧')}"></div>
	<form th:action="@{/AggregateList}" method="post"
		th:object="${aggregateListForm}">
		<div class="search">
			<div class="searchItem">
				<select class="searchSelect" th:field="*{personalId}">
					<option value="">選択なし</option>
					<option th:each="correctDataDto:${correctDataDtoList}"
						th:text="${correctDataDto.fullName}"
						th:value="${correctDataDto.personalId}"></option>
				</select>
				<select class="searchSelect" th:field="*{angleId}">
					<option value="">選択なし</option>
					<option th:each="angleEntity:${angleEntityList}"
						th:text="${angleEntity.angle}" th:value="${angleEntity.angleId}"></option>
				</select>

				<input type='submit' value="検索" name="search">
			</div>
			<div class="searchTransition">
				<button id="grandTotsl" type="button"
					onclick="location.href='./GrandTotal'">総計一覧画面へ</button>
			</div>
		</div>

		<br /> <b class="case" th:text="全+${#lists.size(AggregateList)}+件"></b>
		<table border='1' class="wTable"
			th:each="Aggregate,iter:${AggregateList}">
			<tr class="itemBackGround">
				<td class="imagePath"><b>画像パス</b></td>
				<td class="item"><b>項目</b></td>
				<td class="correctData"><b>正解</b></td>
				<td class="inspectionResults"><b>検証結果</b></td>
				<td class="macth"><b>一致 <br>(全体の一致率)
				</b></td>
				<td class="correctLength"><b>正解文字数</b></td>
				<td class="correctAnswerLength"><b>検証結果正解数</b></td>
				<td class="literacyRate"><b>識字率</b></td>
			</tr>
			<tr>
				<td rowspan='15'><b th:text="${Aggregate.imagePath}"
					class="imagePath"></b> <br> <input type="hidden"
						th:attr="name='updateAngleFormList['+__${iter.index}__+'].imagePath'"
						th:value="${Aggregate.imagePath}" /> <select class="tableSelect"
						th:attr="name='updateAngleFormList['+__${iter.index}__+'].angleId'">
						<option
							th:if="${Aggregate.angleId} eq null or ${#lists.isEmpty(Aggregate.angleId)}"
							th:text="未入力" th:value="${Aggregate.angleId}" selected></option>
						<option
							th:if="${Aggregate.angleId} neq null or !${#lists.isEmpty(Aggregate.angleId)}"
							th:text="${Aggregate.angle}" th:value="${Aggregate.angleId}"></option>
						<option th:each="angleEntity:${angleEntityList}"
							th:text="${angleEntity.angle}" th:value="${angleEntity.angleId}"></option>
					</select></td>
				<td class="item"><b>名前</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctFullName}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionFullName}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctFullName}==${Aggregate.inspectionFullName}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctFullNameLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerFullNameLength}"></b></td>
				<td><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].fullnameLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>生年月日</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctBirthday}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionBirthday}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctBirthday}==${Aggregate.inspectionBirthday}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctBirthdayLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerBirthdayLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].birthdayLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>住所</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctAddress}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionAddress}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctAddress}==${Aggregate.inspectionAddress}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAddressLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerAddressLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].addressLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>交付日</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctGrantDate}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionGrantDate}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctGrantDate}==${Aggregate.inspectionGrantDate}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctGrantDateLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerGrantDateLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].grantDateLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>交付番号</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctGrantNumber}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionGrantNumber}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctGrantNumber}==${Aggregate.inspectionGrantNumber}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctGrantNumberLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerGrantNumberLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].grantNumberLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>有効期限</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctExpirationDate}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionExpirationDate}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctExpirationDate}==${Aggregate.inspectionExpirationDate}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctExpirationDateLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerExpirationDateLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].expirationDateLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>運転証の色</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctLicenseColor}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionLicenseColor}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctLicenseColor}==${Aggregate.inspectionLicenseColor}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctLicenseColorLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerLicenseColorLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].licenseColorLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>免許の条件等</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctConditions}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionConditions}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctConditions}==${Aggregate.inspectionConditions}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctConditionsLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerConditionsLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].conditionsLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>運転証番号</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctLicenseNumber}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionLicenseNumber}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctLicenseNumber}==${Aggregate.inspectionLicenseNumber}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctLicenseNumberLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerLicenseNumberLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].licenseNumberLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>取得日(二、小、原)</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctMotorcycleLicense}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionMotorcycleLicense}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctMotorcycleLicense}==${Aggregate.inspectionMotorcycleLicense}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctMotorcycleLicenseLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerMotorcycleLicenseLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].motorcycleLicenseLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>取得日(他)</b></td>
				<td class="correctData"><b th:text="${Aggregate.correctOthers}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionOthers}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctOthers}==${Aggregate.inspectionOthers}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctOthersLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerOthersLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].othersLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>取得日(二種)</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctCommercialLicense}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionCommercialLicense}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctCommercialLicense}==${Aggregate.inspectionCommercialLicense}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctCommercialLicenseLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerCommercialLicenseLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].commercialLicenseLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>免許の種類</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctCategorys}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionCategorys}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctCategorys}==${Aggregate.inspectionCategorys}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctCategorysLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerCategorysLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].categorysLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b>公安委員会</b></td>
				<td class="correctData"><b
					th:text="${Aggregate.correctPublicSafetyCommission}"></b></td>
				<td class="inspectionResults"><b
					th:text="${Aggregate.inspectionPublicSafetyCommission}"></b></td>
				<td class="macth"><b
					th:text="${Aggregate.correctPublicSafetyCommission}==${Aggregate.inspectionPublicSafetyCommission}? '一致' : '不一致'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctPublicSafetyCommissionLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].correctAnswerPublicSafetyCommissionLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].publicSafetyCommissionLiteracyRate}+'%'"></b></td>
			</tr>
			<tr>
				<td class="item"><b></b></td>
				<td class="correctData"><b></b></td>
				<td class="inspectionResults"><b></b></td>
				<td class="macth"><b th:text="${Aggregate.ratioMatch}+'%'"></b></td>
				<td class="correctLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].totalCorrectLength}"></b></td>
				<td class="correctAnswerLength"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].totalCorrectAnswerLength}"></b></td>
				<td class="literacyRate"><b
					th:text="${Aggregate.literacyRateDtoList[__${iter.index}__].totalLiteracyRate}+'%'"></b></td>
			</tr>
		</table>
		<br>
		<div id="submit">
			<input type="submit" value="修正" name="upDate">
			<input type="submit" value="PDF出力" name="pdf">
		</div>
	</form>
</body>
</html>