﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>正解データ削除画面</title>
<link rel="stylesheet" th:href="@{/css/CorrectDelete.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
</head>
<body>
	<div id="header" th:replace="~{html/header :: header('正解データ削除画面')}"></div>
	<form th:action="@{/CorrectDelete}" method="post" th:object="${correctDeleteForm}">
		<table>
			<tr>
				<td><b>氏名： </b></td>

				<td><input type="hidden" th:field="*{personalId}" th:value="${correctDelete.personalId}" />
				<b th:text="${correctDelete.fullName}"></b></td>
			</tr>
			<tr>
				<td><b>生年月日： </b></td>
				<td><b th:text="${correctDelete.birthday}"></b></td>
			</tr>
			<tr>
				<td><b>住所： </b></td>
				<td><b th:text="${correctDelete.address}"></b></td>
			</tr>
			<tr>
				<td><b>交付日： </b></td>
				<td><b th:text="${correctDelete.grantDate}"></b></td>
			</tr>
			<tr>
				<td><b>交付番号： </b></td>
				<td><b th:text="${correctDelete.grantNumber}"></b></td>
			</tr>
			<tr>
				<td><b>有効期限： </b></td>
				<td><b th:text="${correctDelete.expirationDate}"></b></td>
			</tr>
			<tr>
				<td><b>運転証の色： </b></td>
				<td><b th:text="${correctDelete.licenseColor}"></b></td>
			</tr>
			<tr>
				<td><b>免許の条件等： </b></td>
				<td><b th:text="${correctDelete.conditions}"></b></td>
			</tr>
			<tr>
				<td><b>運転証番号： </b></td>
				<td><b th:text="${correctDelete.licenseNumber}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二、小、原）： </b></td>
				<td><b th:text="${correctDelete.motorcycleLicense}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（他）： </b></td>
				<td><b th:text="${correctDelete.others}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二種）： </b></td>
				<td><b th:text="${correctDelete.commercialLicense}"></b></td>
			</tr>
			<tr>
				<td><b>免許の種類： </b></td>
				<td><b th:text="${correctDelete.categorys}"></b></td>
			</tr>
			<tr>
				<td><b>公安委員会： </b></td>
				<td><b th:text="${correctDelete.publicSafetyCommission}"></b></td>
			</tr>
		</table>
		<br>
		<div class="button">
			<input type="submit" value="確認へ" class="buttonsize" />
		</div>
	</form>
</body>
</html>