<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>正解データ一覧画面</title>
    <link rel="stylesheet" th:href="@{/css/CorrectList.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
  </head>
  <body>
  <div id="header" th:replace="~{html/header :: header('正解データ一覧画面')}"></div><form th:action="@{/CorrectList} " method="post" th:object="${correctListForm}">
		<select th:field="*{personalId}">
			<option value="">全件</option>
			<option th:each="select : ${selectList}"
				th:value="${select.personalId}" th:text="${select.fullName}"></option>
		</select> <input type='submit' value="検索" /> <br> <b
			th:text="全 + ${#lists.size(correctDataList)}+件"></b>
	</form>
	<form th:action="@{/CorrectList} " method="post">
		<table border='1' class="wTable"
			th:each="correctData : ${correctDataList}">
			<tr class="itemBackGround">
				<td><b>項目</b></td>
				<td><b>正解データ</b></td>
				<td colspan="2"><b>処理</b></td>

			</tr>
			<tr>
				<td><b>氏名</b></td>
				<td><b th:text="${correctData.fullName}"></b></td>
				<td rowspan='15'><a th:href="@{./CorrectChange(personalId=${correctData.personalId})}">変更</a></td>
				<td rowspan='15'><a th:href="@{./CorrectDelete(personalId=${correctData.personalId})}">削除</a></td>
			</tr>
			<tr>
				<td><b>生年月日</b></td>
				<td><b th:text="${correctData.birthday}"></b></td>
			</tr>
			<tr>
				<td><b>住所</b></td>
				<td><b th:text="${correctData.address}"></b></td>
			</tr>
			<tr>
				<td><b>交付日</b></td>
				<td><b th:text="${correctData.grantDate}"></b></td>
			</tr>
			<tr>
				<td><b>交付番号</b></td>
				<td><b th:text="${correctData.grantNumber}"></b></td>
			</tr>
			<tr>
				<td><b>有効期限</b></td>
				<td><b th:text="${correctData.expirationDate}"></b></td>
			</tr>
			<tr>
				<td><b>運転証の色</b></td>
				<td><b th:text="${correctData.licenseColor}"></b></td>
			</tr>
			<tr>
				<td><b>免許の条件等</b></td>
				<td><b th:text="${correctData.conditions}"></b></td>
			</tr>
			<tr>
				<td><b>運転証番号</b></td>
				<td><b th:text="${correctData.licenseNumber}"></b></td>
			</tr>
			<tr>
				<td><b>取得日(二、小、原)</b></td>
				<td><b th:text="${correctData.motorcycleLicense}"></b></td>
			</tr>
			<tr>
				<td><b>取得日(他)</b></td>
				<td><b th:text="${correctData.others}"></b></td>
			</tr>
			<tr>
				<td><b>取得日(二種)</b></td>
				<td><b th:text="${correctData.commercialLicense}"></b></td>
			</tr>
			<tr>
				<td><b>免許の種類</b></td>
				<td><b th:text="${correctData.categorys}"></b></td>
			</tr>
			<tr>
				<td><b>公安委員会</b></td>
				<td><b th:text="${correctData.publicSafetyCommission}"></b></td>
			</tr>
			<tr>
			</tr>
		</table>
	</form>
</body>
</html>