﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet"
	th:href="@{../css/CorrectRegisterConfirmation.css}" type="text/css" />
<link rel="stylesheet" th:href="@{../css/Header.css}" type="text/css" />
<title>正解データ登録確認画面</title>
</head>
<body>
	<!--     <h1>正解データ登録確認画面</h1> -->
	<div id="header" th:replace="~{html/header :: header('正解データ登録確認画面')}"></div>
	<form th:action="@{/CorrectRegisterConfirmation}" method="post"
		th:object="${correctRegisterConfirmationForm}">
		<table>


			<tr>
				<td><b>氏名： </b></td>
				<td><input type="hidden" th:field="*{fullName}" /> <b
					th:value="*{fullName}" th:text="*{fullName}"></b></td>
			</tr>
			<tr>
				<td><b>生年月日： </b></td>
				<td><input type="hidden" th:field="*{birthday}" /> <b
					th:value="*{birthday}" th:text="*{birthday}"></b></td>
			</tr>
			<tr>
				<td><b>住所： </b></td>
				<td><input type="hidden" th:field="*{address}" /> <b
					th:value="*{address}" th:text="*{address}"></b></td>
			</tr>
			<tr>
				<td><b>交付日： </b></td>
				<td><input type="hidden" th:field="*{grantDate}" /> <b
					th:value="*{grantDate}" th:text="*{grantDate}"></b></td>
			</tr>
			<tr>
				<td><b>交付番号： </b></td>
				<td><input type="hidden" th:field="*{grantNumber}" /> <b
					th:value="*{grantNumber}" th:text="*{grantNumber}"></b></td>
			</tr>
			<tr>
				<td><b>有効期限： </b></td>
				<td><input type="hidden" th:field="*{expirationDate}" /> <b
					th:value="*{expirationDate}" th:text="*{expirationDate}"></b></td>
			</tr>
			<tr>
				<td><b>運転証の色： </b></td>
				<td><input type="hidden" th:field="*{licenseColor}" /> <b
					th:value="*{licenseColor}" th:text="*{licenseColor}"></b></td>
			</tr>
			<tr>
				<td><b>免許の条件等： </b></td>
				<td><input type="hidden" th:field="*{conditions}" /> <b
					th:value="*{conditions}" th:text="*{conditions}"></b></td>
			</tr>
			<tr>
				<td><b>運転証番号： </b></td>
				<td><input type="hidden" th:field="*{licenseNumber}" /> <b
					th:value="*{licenseNumber}" th:text="*{licenseNumber}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二、小、原）： </b></td>
				<td><input type="hidden" th:field="*{motorcycleLicense}" /> <b
					th:value="*{motorcycleLicense}" th:text="*{motorcycleLicense}"></b>
				</td>
			</tr>
			<tr>
				<td><b>取得日（他）： </b></td>
				<td><input type="hidden" th:field="*{others}" /> <b
					th:value="*{others}" th:text="*{others}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二種）： </b></td>
				<td><input type="hidden" th:field="*{commercialLicense}" /> <b
					th:value="*{commercialLicense}" th:text="*{commercialLicense}"></b>
				</td>
			</tr>
			<tr>
				<td><b>免許の種類： </b></td>
				<td><input type="hidden" th:field="*{categorys}" /> <b
					th:value="*{categorys}" th:text="*{categorys}"></b></td>
			</tr>
			<tr>
				<td><b>公安委員会： </b></td>
				<td><input type="hidden" th:field="*{publicSafetyCommission}" />
					<b th:value="*{publicSafetyCommission}"
					th:text="*{publicSafetyCommission}"></b></td>
			</tr>
		</table>
		<br />
		<div class="button">
			<input type="submit" value="登録" class="buttonsize" />
		</div>
	</form>
</body>
</html>