﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>正解データ登録画面</title>
<link rel="stylesheet" th:href="@{/css/CorrectRegister.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
</head>
<body>
	<div id="header" th:replace="~{html/header :: header('正解データ登録画面')}"></div>

	<form th:action="@{/CorrectRegister}" method="post"
		th:object="${correctRegisterForm}">
		<table>
			<tr>
				<td><b>氏名：</b></td>
				<td><input type="text" th:field="*{fullName}"
						placeholder="苗字と名前の間に半角スペースを入れてください" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{fullName}')}" th:errors="*{fullName}"></b>
				</td>
			</tr>
			<tr>
				<td><b>生年月日：</b></td>
				<td><input type="text" th:field="*{birthday}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{birthday}')}" th:errors="*{birthday}"></b>
				</td>
			</tr>
			<tr>
				<td><b>住所：</b></td>
				<td><input type="text" th:field="*{address}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid" th:if="${#fields.hasErrors('*{address}')}"
					th:errors="*{address}"></b></td>
			</tr>
			<tr>
				<td><b>交付日：</b></td>
				<td><input type="text" th:field="*{grantDate}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{grantDate}')}"
					th:errors="*{grantDate}"></b></td>
			</tr>
			<tr>
				<td><b>交付番号：</b></td>
				<td><input type="text" th:field="*{grantNumber}"
						placeholder="半角英数字5文字以下" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{grantNumber}')}"
					th:errors="*{grantNumber}"></b></td>
			</tr>
			<tr>
				<td><b>有効期限：</b></td>
				<td><input type="text" th:field="*{expirationDate}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{expirationDate}')}"
					th:errors="*{expirationDate}"></b></td>
			</tr>
			<tr>
				<td><b>運転証の色：</b></td>
				<td><input type="text" th:field="*{licenseColor}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{licenseColor}')}"
					th:errors="*{licenseColor}"></b></td>
			</tr>
			<tr>
				<td><b>免許の条件等：</b></td>
				<td><input type="text" th:field="*{conditions}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{conditions}')}"
					th:errors="*{conditions}"></b></td>
			</tr>
			<tr>
				<td><b>運転証番号：</b></td>
				<td><input type="text" th:field="*{licenseNumber}"
						placeholder="半角英数字12文字" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{licenseNumber}')}"
					th:errors="*{licenseNumber}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二、小、原）：</b></td>
				<td><input type="text" th:field="*{motorcycleLicense}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{motorcycleLicense}')}"
					th:errors="*{motorcycleLicense}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（他）：</b></td>
				<td><input type="text" th:field="*{others}" placeholder="英字と数字は半角" /></td>
				<td><b class="valid" th:if="${#fields.hasErrors('*{others}')}"
					th:errors="*{others}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二種）：</b></td>
				<td><input type="text" th:field="*{commercialLicense}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{commercialLicense}')}"
					th:errors="*{commercialLicense}"></b></td>
			</tr>
			<tr>
				<td><b>免許の種類：</b></td>
				<td><input type="text" th:field="*{categorys}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{categorys}')}"
					th:errors="*{categorys}"></b></td>
			</tr>
			<tr>
				<td><b>公安委員会：</b></td>
				<td><input type="text" th:field="*{publicSafetyCommission}"
						placeholder="英字と数字は半角" /></td>
				<td><b class="valid"
					th:if="${#fields.hasErrors('*{publicSafetyCommission}')}"
					th:errors="*{publicSafetyCommission}"></b></td>
			</tr>
		</table>
		<br />
		<div class="button">
			<input type="submit" value="確認する" class="buttonsize" />
		</div>
	</form>
</body>
</html>