﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>正解データ変更確認画面</title>
<link rel="stylesheet" th:href="@{/css/CorrectChangeConfirmation.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
</head>
<body>
	<div id="header" th:replace="~{html/header :: header('正解データ変更確認画面')}"></div>
	<form th:action="@{/CorrectChangeConfirmation}" method="post"
		th:object="${correctChangeConfirmationForm}">
		<table>

			<tr>
				<td><b>氏名： </b></td>
				<td><input type="hidden" th:field="*{personalId}" /> <input
						type="hidden" th:field="*{fullName}" /> <b th:text="*{fullName}"></b></td>
			</tr>
			<tr>
				<td><b>生年月日： </b></td>
				<td><input type="hidden" th:field="*{birthday}" /><b
					th:text="*{birthday}"></b></td>
			</tr>
			<tr>
				<td><b>住所： </b></td>
				<td><input type="hidden" th:field="*{address}" /><b
					th:text="*{address}"></b></td>
			</tr>
			<tr>
				<td><b>交付日： </b></td>
				<td><input type="hidden" th:field="*{grantDate}" /><b
					th:text="*{grantDate}"></b></td>
			</tr>
			<tr>
				<td><b>交付番号： </b></td>
				<td><input type="hidden" th:field="*{grantNumber}" /><b
					th:text="*{grantNumber}"></b></td>
			</tr>
			<tr>
				<td><b>有効期限： </b></td>
				<td><input type="hidden" th:field="*{expirationDate}" /><b
					th:text="*{expirationDate}"></b></td>
			</tr>
			<tr>
				<td><b>運転証の色： </b></td>
				<td><input type="hidden" th:field="*{licenseColor}" /><b
					th:text="*{licenseColor}"></b></td>
			</tr>
			<tr>
				<td><b>免許の条件等： </b></td>
				<td><input type="hidden" th:field="*{conditions}" /><b
					th:text="*{conditions}"></b></td>
			</tr>
			<tr>
				<td><b>運転証番号： </b></td>
				<td><input type="hidden" th:field="*{licenseNumber}" /><b
					th:text="*{licenseNumber}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二、小、原）： </b></td>
				<td><input type="hidden" th:field="*{motorcycleLicense}" /><b
					th:text="*{motorcycleLicense}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（他）： </b></td>
				<td><input type="hidden" th:field="*{others}" /><b
					th:text="*{others}"></b></td>
			</tr>
			<tr>
				<td><b>取得日（二種）： </b></td>
				<td><input type="hidden" th:field="*{commercialLicense}" /><b
					th:text="*{commercialLicense}"></b></td>
			</tr>
			<tr>
				<td><b>免許の種類： </b></td>
				<td><input type="hidden" th:field="*{categorys}" /><b
					th:text="*{categorys}"></b></td>
			</tr>
			<tr>
				<td><b>公安委員会： </b></td>
				<td><input type="hidden" th:field="*{publicSafetyCommission}" /><b
					th:text="*{publicSafetyCommission}"></b></td>
			</tr>
		</table>
		<br>
		<div id="submit">
			<input type="submit" value="変更する" />
		</div>
	</form>
</body>
</html>