<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" th:href="@{../css/CorrectRegisterConfirmation.css}" type="text/css" />
    <title>エラー画面</title>
  </head>
<body>
<h1 th:text="${error}"></h1>
<a href="http://localhost:8080/Top">TOP</a>

</body>
</html>