﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>総計結果画面</title>
<link rel="stylesheet" th:href="@{/css/GrandTotal.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
</head>
<body>
	<div id="header" th:replace="~{html/header :: header('総計結果画面')}"></div>
	<form th:action="@{GrandTotal}" method="post"
		enctype="multipart/form-data" th:object="${grandTotalForm}">
		<div class="recognitionFixed">
		<div class="file">
			<p>OCRの検証状態データのCSVファイルアップロード</p>
			<input type="file" th:field="*{uploadedFile}" />
			<br />
			<button type="submit" name="fileUpload">ファイルアップロード</button>
			<br /> <b class="valid"
				th:if="${#fields.hasErrors('*{uploadedFile}')}"
				th:errors="*{uploadedFile}"></b>
		</div>
		<div class="text" th:if="${recognitionResultDto} neq null">
			<b class="recognitionResultText"
				th:text="全+${#lists.size(recognitionResultDto.statusDataDtoList)}+件をOCRで取り込んだうち"></b>
			<br> <b class="recognitionResultText"
				th:text="${recognitionResultDto.recognitionResultCount}+件が認証されCSVファイルに出力できた。"></b>
			<br> <b class="recognitionResultText"
				th:text="${recognitionResultDto.recognitionResultRatio}+％で認証されることがわかった。"></b>
		</div>
		<div class="text">
			<b class="recognitionResultText"
				th:if="${recognitionResultDto} eq null"
				th:text="OCR認証結果のCSVファイルがアップロードされていません"></b>
		</div>
		</div>
		<div class="searchFixed">
			<select th:field="*{personalId}">
				<option value="">選択なし</option>
				<option th:each="correctDataEntity:${correctDataEntityList}"
					th:text="${correctDataEntity.fullName}"
					th:value="${correctDataEntity.personalId}"></option>
			</select>
			<select th:field="*{angleId}">
				<option value="">選択なし</option>
				<option value="01,02">正面全体</option>
				<option value="09_10_11_12">台形全体</option>
				<option value="03,04">縦全体</option>
				<option value="05_06_07_08">斜め全体</option>
				<option th:each="angleEntity:${angleEntityList}"
					th:text="${angleEntity.angle}" th:value="${angleEntity.angleId}"></option>

			</select>
			<input id="tableButton" type="submit" value="検索" name="search">

		</div>
		<div></div>
		<div class="tableFixed">

			<div class="text">
				<b class="recognitionResultText" th:if="${grandTotalDto} eq null"
					th:text="CSVファイルがアップロードされていないか個人IDを振っていません"></b>
			</div>
			<TABLE th:if="${grandTotalDto} neq null">
				<TR>
					<TD>
						<table border="1">
							<tbody>
								<tr>
									<td class="grandtotal1"></td>
									<td class="grandtotal2"><b>枚数</b></td>
									<td class="grandtotal3"><b>一致度</b></td>
									<td class="grandtotal4"><b>件数</b></td>
									<td class="grandtotal5"><b>識字率</b></td>
									<td class="grandtotal6"><b>件数</b></td>
								</tr>
								<tr>
									<td rowspan="4" class="grandtotal1"><b
										th:text="${categoryName}"></b></td>
									<td rowspan="4" class="grandtotal2"><b
										th:text="${#lists.size(grandTotalDto.literacyRateDtoList)}"></b></td>
									<td class="grandtotal3"><b>100％</b></td>
									<td class="grandtotal4"><b
										th:text="${grandTotalDto.totalMacthRatioCount100}"></b></td>
									<td class="grandtotal5"><b>100％</b></td>
									<td class="grandtotal6"><b
										th:text="${grandTotalDto.totalLiteracyRatCount100}"></b></td>
								</tr>
								<tr>
									<td class="grandtotal3"><b>90％</b></td>
									<td class="grandtotal4"><b
										th:text="${grandTotalDto.totalMacthRatioCount90}"></b></td>
									<td class="grandtotal5"><b>90％</b></td>
									<td class="grandtotal6"><b
										th:text="${grandTotalDto.totalLiteracyRateCount90}"></b></td>
								</tr>
								<tr>
									<td class="grandtotal3"><b>80％</b></td>
									<td class="grandtotal4"><b
										th:text="${grandTotalDto.totalMacthRatioCount80}"></b></td>
									<td class="grandtotal5"><b>80％</b></td>
									<td class="grandtotal6"><b
										th:text="${grandTotalDto.totalLiteracyRateCount80}"></b></td>
								</tr>
								<tr>
									<td class="grandtotal3"><b>以下</b></td>
									<td class="grandtotal4"><b
										th:text="${grandTotalDto.totalMacthRatioCountLess}"></b></td>
									<td class="grandtotal5"><b>以下</b></td>
									<td class="grandtotal6"><b
										th:text="${grandTotalDto.totalLiteracyRateCountLess}"></b></td>
								</tr>
							</tbody>
						</table>
					</TD>
					<TD>
						<table border="1" id="grandtotaltop">
							<tbody>
								<tr>
									<td class="grandtotal7"><b>総計識字率</b></td>
									<td class="grandtotal7"><b>総計一致度</b></td>
								</tr>
								<tr>
									<td class="grandtotal7"><b
										th:text="${grandTotalDto.grandTotalMacthRatio}+'%'"></b></td>
									<td class="grandtotal7"><b
										th:text="${grandTotalDto.grandTotalLiteracyRate}+'%'"></b></td>
								</tr>
							</tbody>
						</table>
					</TD>
				</TR>
			</TABLE>

		</div>
		<br>
		<div class="tableFixed">
			<div class="function">
				<input id="tableButton" type="submit" value="認証NG一覧PDF出力"
					name="AuthenticationNGpdf">
				<input id="tableButton" type="submit" value="総計PDF出力"
					name="GrandTotalpdf">
			</div>
		</div>


	</form>
</body>
</html>