<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>Header</title>
<link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
</head>
<body>
	<div th:fragment="header(title)" th:remove="tag">
		<div class="header">

			<div class="headerTitle">
				<h1 id="headerTitle" th:text="${title}"></h1>
			</div>
			<div class="headerLink">
				<b> <a id="headerAggregateList"
						th:href="@{/AggregateList}">集計一覧</a> <a
						id="headerGrandTotal" th:href="@{/GrandTotal}">総計一覧</a> <a
						id="headerTop" th:href="@{/Top}">TOP</a>
				</b>
			</div>
		</div>
		<div class="header-padding"></div>
	</div>

</body>
</html>