<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>検証結果一覧画面</title>
<link rel="stylesheet" th:href="@{/css/InspectionResults.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/css/Header.css}" type="text/css" />
</head>
<body>
	<div id="header" th:replace="~{html/header :: header('検証結果一覧画面')}"></div>
	<form th:action="@{/searchByEmptyPersonalId}" method="post"
		th:object="${inspectionResultsListForm}">
		<select th:field="*{searchByEmpty}">
			<option th:value="全件">全件</option>
			<option th:value="未入力">未入力</option>
		</select>
		<input type='submit' value="検索" />
		<br />
	</form>
	<b class="case"
		th:text="全+${#lists.size(inspectionResultsListDtoList)}+件"></b>
	<form th:action="@{/upDatePersonalId}" method="post"
		th:object="${inspectionResultsListForm}">
		<table border='1' class="wTable"
			th:each="inspectionResultsListDto,iter : ${inspectionResultsListDtoList}">
			<tr class="itemBackGround">
				<td><b>画像パス</b></td>
				<td><b>項目</b></td>
				<td><b>検証結果</b></td>
			</tr>
			<tr>
				<td rowspan='15'><b
					th:text="${inspectionResultsListDto.imagePath}"></b> <br /> <input
						type="hidden"
						th:attr="name='updatePersonalIdFormList['+__${iter.index}__+'].imagePath'"
						th:value="${inspectionResultsListDto.imagePath}" /> <select
						class="tableSelect"
						th:attr="name='updatePersonalIdFormList['+__${iter.index}__+'].personalId'">
						<option
							th:if="${inspectionResultsListDto.personalId} eq null or ${#lists.isEmpty(inspectionResultsListDto.personalId)}"
							th:text="未入力" th:value="${inspectionResultsListDto.personalId}" selected></option>
						<option
							th:if="${inspectionResultsListDto.personalId} neq null or !${#lists.isEmpty(inspectionResultsListDto.personalId)}"
							th:text="${inspectionResultsListDto.correctFullName}"
							th:value="${inspectionResultsListDto.personalId}" ></option>
						<option th:each="correctDataEntity:${correctDataEntityList}"
							th:text="${correctDataEntity.fullName}"
							th:value="${correctDataEntity.personalId}"></option>
					</select></td>
				<td><b>氏名</b></td>
				<td><b th:text="${inspectionResultsListDto.inspectionFullName}"></b></td>
			</tr>
			<tr>
				<td><b>生年月日</b></td>
				<td><b th:text="${inspectionResultsListDto.inspectionBirthday}"></b></td>
			</tr>
			<tr>
				<td><b>住所</b></td>
				<td><b th:text="${inspectionResultsListDto.inspectionAddress}"></b></td>
			</tr>
			<tr>
				<td><b>交付日</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionGrantDate}"></b></td>
			</tr>
			<tr>
				<td><b>交付番号</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionGrantNumber}"></b></td>
			</tr>
			<tr>
				<td><b>有効期限</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionExpirationDate}"></b>
				</td>
			</tr>
			<tr>
				<td><b>運転証の色</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionLicenseColor}"></b></td>
			</tr>
			<tr>
				<td><b>免許の条件等</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionConditions}"></b></td>
			</tr>
			<tr>
				<td><b>運転証番号</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionLicenseNumber}"></b>
				</td>
			</tr>
			<tr>
				<td><b>取得日(二、小、原)</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionMotorcycleLicense}"></b>
				</td>
			</tr>
			<tr>
				<td><b>取得日(他)</b></td>
				<td><b th:text="${inspectionResultsListDto.inspectionOthers}"></b></td>
			</tr>
			<tr>
				<td><b>取得日(二種)</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionCommercialLicense}"></b>
				</td>
			</tr>
			<tr>
				<td><b>免許の種類</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionCategorys}"></b></td>
			</tr>
			<tr>
				<td><b>公安委員会</b></td>
				<td><b
					th:text="${inspectionResultsListDto.inspectionPublicSafetyCommission}"></b></td>
			</tr>
		</table>
		<br>
		<div id="submit">
			<input type="submit" value="修正" />
		</div>
	</form>
</body>
</html>