﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>TOP</title>
<link rel="stylesheet" th:href="@{/css/TOP.css}" type="text/css" />
</head>
<body>
	<form th:action="@{/upload}" method="post"
		enctype="multipart/form-data" th:object="${fileUploadForm}">
		<h1>TOP</h1>


		<div class="center">
			<div class="file">
				<p>OCRの検証結果データのCSVファイルアップロード</p>
				<input class="uploadFile" type="file" th:field="*{uploadedFile}" />
				<br />
				<button class="uploadFileButton" type="submit">ファイルアップロード</button>
				<br /> <b class="valid"
					th:if="${#fields.hasErrors('*{uploadedFile}')}"
					th:errors="*{uploadedFile}"></b>
			</div>

			<p>機能一覧</p>
			<div class="inline-block">
				<button class="register" type="button"
					onclick="location.href='./CorrectRegister'">正解データ登録</button>
			</div>
			<div class="inline-block">
				<button class="change" type="button"
					onclick="location.href='./CorrectList'">正解データ一覧</button>
			</div>
			<br />
			<div class="inline-block-down" id="inspectionResultList">
				<button class="inspectionResultList" type="button"
					onclick="location.href='./InspectionResultsList'">検証データ一覧</button>
			</div>
			<div class="inline-block-down" id="aggregateList">
				<button class="aggregateList" type="button"
					onclick="location.href='./AggregateList'">集計一覧</button>
			</div>
		</div>
	</form>
</body>
</html>
